@use '../base/mixins' as m;
@use '../base/variables' as v;

.eventos{

    h2{
        @include m.tablet {
            text-align: center;
            margin-bottom: 2rem;
        };
    }
    h3{
        margin: 0;
        color: v.$blanco;
    }
    p{
        margin: 0 0 3rem 0;
        padding: 0;
    }
}
.imagenes{

    @include m.resetlist;
    display: grid;
    grid-column: 100%;
    gap: 3rem;
    animation: fade-up 0.5s;

    picture{
        width: 60%;
        height: auto;
        margin: 0 auto;
    }
}